@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
.img-button {
    @apply inline-block transition transform duration-200 filter;
}

.img-button:hover {
    @apply scale-105 brightness-125;
}

.img-button:active {
    @apply scale-95 brightness-75;
}

.home-button {
    margin-left: 1px;
    margin-top: 2px;
    background-color: transparent;
    color: rgb(88 28 135);
    border: none;
    cursor: pointer;
    padding: 3px;
    border-radius: 5px;
}

.home-button:hover {
    background-color: #E2E8F0; /* Tailwind's gray-200 */
}